extends layout

block content
  h1= title
  p Welcome to #{title}
  form(id="new", action="/new", method="post")
    textarea(rows="10", cols="40", name="episode")
    button(name="new",type="submit") 投稿
    br
    input(type="text", name="edit")
    button(name="new",type="submit") 編集
    br
    input(type="text", name="insert")
    button(name="new",type="submit") 挿入
  form(id="delete", action="/delete", method="post")
    input(type="text", name="delete")
    button(type="submit") 削除
  a(href="/view" method="get") ビューページ

  - for (let i=0; i < episodes.length; i++)
    li #{i} #{episodes[i]}