extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/", method="post")
    textarea(rows="10", cols="40", name="episode")
    button(type="submit")
  each episode in episodes
    li #{episode}