html,body{
  height:100%;
  margin:0;
  padding:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  * {
  box-sizing:border-box;
  }
  .split-box{
  position:absolute;
  width:50%;
  height:100%;
  padding:1em;
  }

/* left-box style */

  .left-box {
  left:0;
  background:#ffffff;
  }
    .left-box a{
    color:#000000;
    display:block;
    }
    .titleArea h1 {
      font-size: 15px;
    }
    .formArea {
      text-align: center;
    }
    .formArea textarea {
      font-size: 17px;
      font-family: YuMincho;
      margin: 200px 0 50px 0 ;
      padding: 60px;
      resize: vertical;
      width: 90%;
      height: 200px;
      outline: none;
      -webkit-transition: all .3s;
      transition: all .3s;
      /* box-shadow: 0 0 10px #434b49; */
      /* border: 1px solid #434b49; */
      border: 1px dotted #434b49;
    }
    .formArea textarea:focus {
        /* border: hidden; */
        /* box-shadow: none; */
        box-shadow: 0 0 10px #434b49;
        border: 1px solid #434b49;  
    }

  /* label style*/

    #label {
      text-align: right;
    }

    #container {
      overflow: hidden;
    }

  /*  transmitRevisionArea style*/
    .transmitRevisionArea{
      margin: 0 0 14px 0;
      text-align: center;
      margin-left: 10px;
    }

    #editButton, #insertButton {
      float: left;
      margin: 0 0 0 3%;
    }

    #submitButton {
      margin: 0 4% 0 0;
      float: right;
      width: 100px;
      height: 40px;
    }

    .buttonStyle {
      border: solid 1px black;
      width: 40px;
      height: 40px;
    }

    .buttonStyle:hover {
      background: #434b49;
      color: white;
    }

    .inputStyle {
      text-align: center;
      width: 40px;
      height: 40px;  
    }

    .deleteFormArea {
      overflow: hidden;
      margin: 0 0 0 3%;
    }

    #deleteButton {
      margin: 0 10px;
      float: left;
    }

    .viewLink {
      margin: 14px 0;
      text-align: center;
    }

/* right-box style */

  .right-box {
  right:0;
  overflow-y:scroll;
  background:#000000;
  color:#ffffff;
  font-family: YuMincho;
  font-size: 15px;
  }

  .episodeTable {
    margin: 50px 0 0 0 ;
  }

  .episodeRow:hover {
    text-decoration: underline;    
  }

  .episode {
    padding: 0 0 0 15px;
    width: 600px;
  }

  .episodeNumber {
    text-align: center;
    width: 50px;
    padding: 0 10px 0 0;
  }
  


/*  */

/* media style */

@media screen and (max-width:600px) { 
  .split-box {
  position:relative;
  width:100%;
  height:auto;
  }
  }


  /* .buttonStyle {
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    font-size: 15px;
    width: 100px;
    height: 50px;
    float: left;
    }

  .buttonStyle:hover {
    background: #67c5ff;
    color: white;  
  }

  .transmitRevisionArea #submitButton {
    float: right;
  }

  .inputStyle {
    float: left;
    padding: 0.3em 1em;
    text-align: center;
    width: 50px;
    height: 50px;
  } */