html,body{
  height:100%;
  margin:0;
  padding:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  * {
  box-sizing:border-box;
  }
  .split-box{
  position:absolute;
  width:50%;
  height:100%;
  padding:1em;
  }

/* left-box style */

  .left-box {
  left:0;
  background:#ffffff;
  }
    .left-box a{
    color:#000000;
    display:block;
    }
    .titleArea h1 {
      font-size: 15px;
    }
    .formArea {
      text-align: center;
    }
    .formArea textarea {
      font-size: 17px;
      font-family: YuMincho;
      margin: 10% 0 30px 0 ;
      padding: 50px 60px 60px 60px;
      resize: vertical;
      width: 90%;
      height: 210px;
      outline: none;
      -webkit-transition: all .3s;
      transition: all .3s;
      border: 1px dotted #434b49;
    }
    .formArea textarea:focus {
        box-shadow: 0 0 10px #434b49;
        border: 1px solid #434b49;  
    }

  /* label style*/

    #label {
      text-align: right;
    }

    #container {
      overflow: hidden;
    }

  /*  transmitRevisionArea style*/
    .transmitRevisionArea{
      margin: 0 0 14px 0;
      text-align: center;
      margin-left: 10px;
    }

    #editButton, #insertButton {
      float: left;
      margin: 0 0 0 3%;
    }

    #submitButton {
      margin: 0 4% 0 0;
      float: right;
      width: 100px;
      height: 40px;
    }

    .buttonStyle {
      border: solid 1px black;
      width: 40px;
      height: 40px;
    }

    .buttonStyle:hover {
      background: #434b49;
      color: white;
    }

    .inputStyle {
      text-align: center;
      width: 40px;
      height: 40px;  
    }

    .deleteFormArea {
      overflow: hidden;
      margin: 0 0 0 3%;
    }

    #deleteButton {
      margin: 0 10px;
      float: left;
    }

    .allDeleteFormArea {
      overflow: hidden;
      margin: 2% 0 0 3%;
    }

    #allDeleteButton {
      margin: 0 0 0 10px;
      width:  80px;
      height: 40px;
    }

    .viewLink {      
      margin: 14px 0;
      text-align: center;
    }

    #navigetionArea p {
      text-align: center;
      font-size: 8px;
      color: gray;
    }

/* right-box style */

  .right-box {
  right:0;
  overflow-y:scroll;
  font-family: YuMincho;
  font-size: 15px;
  }

  .right-inner {
    height: 100%;
  }

  .episodeTable {
    margin: 20px 0 0 0 ;
  }

  .episodeRow:hover {
    text-decoration: underline;    
  }

  .episode {
    padding: 0 0 0 15px;
    width: 600px;
  }

  .episodeNumber {
    text-align: center;
    width: 50px;
    padding: 0 10px 0 0;
  }

  #scrollBottom {
    margin: 0 0 65px 0;
  }

/* media style */

@media screen and (max-width:600px) { 
  .split-box {
  position:relative;
  width:100%;
  height:auto;
  }
  }